<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Fidem</title>
</head>
<body>
    <h1>Welcome do Fidem</h1>


    <form>
        First name:<br>
        <input type="text" name="firstname"><br>
        Last name:<br>
        <input type="text" name="lastname"><br>
        Address:<br>
        <input type="text" name="address"><br>
        Phone number:<br>
        <input type="text" name="phone number"><br>
        Driver license:<br>
        <input type="text" name="driver license"><br>
        Driver license:<br>
        <input type="text" name="driver license"><br>


    </form>



</body>
</html>