<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Fidem</title>
</head>
<body>
    <h1>Welcome {{ name }} do Fidem</h1>

    <p>Is the  <strong>PEP</strong> High Risk?</p>

    <form action="">
        <input type="radio" id="yes" name="risk" value="yes">
        <label for="yes">Yes</label><br>
        <input type="radio" id="no" name="risk" value="no">
        <label for="no">No</label><br>
    </form>

    <br>

    <form>
        First name:<br>
        <input type="text" name="firstname"><br>
        Last name:<br>
        <input type="text" name="lastname"><br>
        Address:<br>
        <input type="text" name="address"><br>
        Phone number:<br>
        <input type="text" name="phone number"><br>
        Driver license:<br>
        <input type="text" name="driver license"><br>
        Social Security Number:<br>
        <input type="text" name="Social Security Number"><br>


    </form>



</body>
</html>